<app-navbar-popup [side]="Side.Right">
    <app-navbar-dropdown-button (click)="onClose.emit()" [faIcon]="faUser" label="Profile"></app-navbar-dropdown-button>
    <app-navbar-dropdown-button (click)="onClose.emit()" [faIcon]="faKey"
                                label="Authentication" routerLink="authentication"></app-navbar-dropdown-button>
    <app-navbar-dropdown-button (click)="onClose.emit()" [faIcon]="faGear"
                                label="Account Settings" routerLink="settings"></app-navbar-dropdown-button>
    <app-divider></app-divider>
    <app-navbar-dropdown-button (click)="logOut()" [faIcon]="faArrowRightFromBracket"
                                [loading]="loggingOut" label="Log out"></app-navbar-dropdown-button>
</app-navbar-popup>