<div class="bg-dark-background text-light p-4 rounded-lg grid grid-cols-1 gap-2">
    <app-navbar-dropdown-button (click)="close()" [faIcon]="faUser" label="Profile"></app-navbar-dropdown-button>
    <app-navbar-dropdown-button (click)="close()" [faIcon]="faKey" label="Authentication"
                                routerLink="authentication"></app-navbar-dropdown-button>
    <app-navbar-dropdown-button (click)="close()" [faIcon]="faGear" label="Account Settings"
                                routerLink="settings"></app-navbar-dropdown-button>
    <app-divider></app-divider>
    <app-navbar-dropdown-button (click)="logOut()" [faIcon]="faArrowRightFromBracket"
                                [loading]="loggingOut" label="Log out"></app-navbar-dropdown-button>
</div>
