<app-navbar-popup [side]="Side.right">
    <app-navbar-popup-button (click)="onClose.emit()" [faIcon]="faUser" label="Profile"></app-navbar-popup-button>
    <app-navbar-popup-button (click)="onClose.emit()" [faIcon]="faKey"
                             label="Authentication" routerLink="authentication"></app-navbar-popup-button>
    <app-navbar-popup-button (click)="onClose.emit()" [faIcon]="faGear"
                             label="Settings" routerLink="settings"></app-navbar-popup-button>
    <app-divider></app-divider>
    <app-navbar-popup-button (click)="logOut()" [faIcon]="faArrowRightFromBracket"
                             [loading]="loggingOut" label="Log out"></app-navbar-popup-button>
</app-navbar-popup>