button {
    background-color: #F4DECC;
    padding: 10px 16px;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    transition-duration: 150ms;
}

button:disabled {
    filter: brightness(60%);
}