<div class="bg-dark-background text-light p-4 rounded-lg grid grid-cols-1 gap-2">
    <form (ngSubmit)="logIn()" [formGroup]="loginForm" class="grid grid-cols-1 gap-2 navbar-text-highlight">
        <app-input-field [fGroup]="loginForm" [faIcon]="faEnvelope" [light]="false" class="w-full"
                         fControlName="email"
                         id="email" placeholder="Email Address"></app-input-field>
        <app-input-field [fGroup]="loginForm" [faIcon]="faKey" [light]="false" [type]="InputType.Password"
                         class="w-full"
                         fControlName="password" id="password" placeholder="Password"></app-input-field>
        <app-navbar-dropdown-button [faIcon]="faArrowRightToBracket" [loading]="loggingIn"
                                    label="Log in"></app-navbar-dropdown-button>
    </form>
    <app-divider></app-divider>
    <app-navbar-dropdown-button (click)="close()" [faIcon]="faKey" label="Reset Password"
                                routerLink="resetPassword"></app-navbar-dropdown-button>
    <app-navbar-dropdown-button (click)="close()" [faIcon]="faUserPlus" label="Register"
                                routerLink="register"></app-navbar-dropdown-button>
</div>
