<app-generic-page name="Home">
  <div>
    some things that youve got to work on

    <p>
      - make sure that you cant press enter to submit while already loading in forms (maybe make a component for
      that)<br>
      - implement so that everything about the account is cleared when finishing registration (server side)<br>
      - auth guard<br>
      - grant tokens when changing game auth settings (server side)<br>
      - add something that shows the platform when registering. maybe a "successfully found registration code" text at
      the
      top or sum<br>
      - verify email<br>
      - forgot password<br>
      - change email<br>
      - a log of failed login attempts could be interesting<br>
      - set the game auth settings automatically when finishing registration like a<br>
      - (server side) make an attribute for endpoints that dont require a fully registered account. fix the discrepency
      where the website says that you cant access anything with a an unverifed email while you inrealíty can do
      that.<br>
      ?rpcnAuthorization=true&psnAuthorization=false<br>
      make sure thats not automatically set though. it should be like a button thats like "yo you wanna enable this
      shit?"
      otherwise itd be easily abused<br>
      - contact button
      - rename eula button to server information


      LOL<br>
      LOL<br>

      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
      LOL<br>
    </p></div>
</app-generic-page>
