<div class="bg-dark-background text-light px-6 py-4 flex justify-between">

    <!-- left wide side -->
    <div class="lg:flex items-center gap-4 hidden">
        <ng-container *ngFor="let button of buttons; index as i;">
            <button [ngClass]="{'text-primary' : currentPage == i}" [routerLink]=button.path
                    class="flex gap-2 items-center hover:brightness-90">
                <fa-icon [icon]="button.icon" size="lg"></fa-icon>
                <span *ngIf="i != PageType.home">{{button.label}}</span>
            </button>
            <div *ngIf="i == PageType.home" class="border-l-2 border-navbar-divider h-4"></div>
        </ng-container>
    </div>

    <!-- left mobile side -->
    <div class="flex items-center gap-4 lg:hidden">
        <!-- toggle hamburger menu -->
        <button (click)="toggleHamburgerMenu()">
            <fa-icon [icon]="faBars" size="lg"></fa-icon>
        </button>
    </div>

    <!-- right side (both wide and mobile) -->
    <div [ngSwitch]="loggedIn()" class="flex items-center gap-4 hover:brightness-90">
        <!-- log in button -->
        <button (click)="toggleAccountPopUp()" *ngSwitchCase="false"
                class="flex gap-2 items-center">
            <fa-icon [icon]="faRightToBracket" size="lg"></fa-icon>
            <span class="hidden lg:block">Log in</span>
        </button>

        <!-- my profile button -->
        <button (click)="toggleAccountPopUp()" *ngSwitchCase="true" class="flex gap-2 items-center">
            <fa-icon [icon]="faCircleUser" class="navbar-text" size="lg"></fa-icon>
            <span class="hidden lg:block">{{user()!.Username}}</span>
        </button>
    </div>
</div>

<!-- account popups -->
<div *ngIf="showAccountPopUp" [ngSwitch]="loggedIn()">
    <app-login-popup (clickedOutside)="setAccountPopUpVisibility(false)" (onClose)="setAccountPopUpVisibility(false)"
                     *ngSwitchCase="false"
                     appClickedOutside></app-login-popup>
    <app-my-profile-popup (clickedOutside)="setAccountPopUpVisibility(false)"
                          (onClose)="setAccountPopUpVisibility(false)" *ngSwitchCase="true"
                          appClickedOutside></app-my-profile-popup>
</div>

<!-- hamburger menu -->
<div *ngIf="showHamburgerMenu" class="lg:hidden">
    <app-navbar-popup (clickedOutside)="setHamburgerMenuVisibility(false)" appClickedOutside>
        <ng-container *ngFor="let button of buttons; index as i;">
            <app-navbar-dropdown-button (click)="setHamburgerMenuVisibility(false)" [faIcon]="button.icon"
                                        [label]="button.label"
                                        [ngClass]="{'text-primary' : currentPage == i}"
                                        [routerLink]="button.path"></app-navbar-dropdown-button>
            <app-divider *ngIf="i == PageType.home"></app-divider>
        </ng-container>
    </app-navbar-popup>
</div>
