<header class="bg-header p-2 flex justify-between text-header-text  items-center z-50 h-[60px]">
  <ng-container> <!-- left --->

    <!-- home -->
    <app-link [color]="ColorType.Header" [countSubUrls]="false" [icon]="faHouse" class="hidden md:block" text=""
              urlPath="/"></app-link>

    <!-- hamburger menu button -->
    <app-button (click)="setHamburgerMenu(!showHamburgerMenu)" [color]="ColorType.Header"
                [icon]="showHamburgerMenu ? faX : faBars"
                class="md:hidden"
                text=""></app-button>

  </ng-container>

  <nav class="items-center h-full hidden md:flex">

    <app-link [color]="ColorType.Header" [icon]="faMusic" text="Levels" urlPath="/levels"></app-link>
    <app-link [color]="ColorType.Header" [icon]="faCompactDisc" text="Albums" urlPath="/albums"></app-link>
    <app-link [color]="ColorType.Header" [icon]="faUsers" text="Users" urlPath="/users"></app-link>

  </nav>

  <app-button (click)=setMe(!showMe) [color]="ColorType.Header"
              [icon]="me.loggedIn() ? faCircleUser : faSignIn"
              [text]="me.loggedIn() ? me.getUser()?.name! : 'Sign in'"></app-button>
</header>


<div class="relative">
  @if (showHamburgerMenu) {
    <nav (clickOutside)="setHamburgerMenu(false)"
         @slideFromLeft class="bg-header absolute w-[70vw] px-6
    py-4 flex flex-col text-header-text gap-4 h-navbar-hamburger-menu z-50
    transition-all duration-250">
      <app-link (click)="setHamburgerMenu(false)" [countSubUrls]="false" [icon]="faHouse" [color]="ColorType.Header"
                text="Home"
                urlPath="/"></app-link>
      <app-horizontal-divider></app-horizontal-divider>
      <app-link (click)="setHamburgerMenu(false)" [icon]="faMusic" [color]="ColorType.Header" text="Levels"
                urlPath="/levels"></app-link>
      <app-link (click)="setHamburgerMenu(false)" [icon]="faCompactDisc" [color]="ColorType.Header" text="Albums"
                urlPath="/albums"></app-link>
      <app-link (click)="setHamburgerMenu(false)" [icon]="faUsers" [color]="ColorType.Header" text="Users"
                urlPath="/users"></app-link>
    </nav>
  }

  @if (showMe) {
    <app-header-me (clickLink)="setMe(false)" (clickOutside)="setMe(false)" @slideFromTop
                   class="absolute top-0 right-0 left-0 md:left-auto transition-all duration-250 md:w-96 w-full z-50"></app-header-me>
  }
</div>
