<header class="bg-header p-2 flex justify-between text-header-text  items-center sticky top-0 z-50 h-[60px]">
  <ng-container> <!-- left --->

    <!-- home -->
    <app-nav-link [countSubUrls]="false" [icon]="faHouse" class="hidden md:block" label="" urlPath="/"></app-nav-link>

    <!-- hamburger menu button -->
    <app-nav-button (click)="setHamburgerMenu(!showHamburgerMenu)" [icon]="showHamburgerMenu ? faX : faBars"
                    class="md:hidden"
                    label=""></app-nav-button>

  </ng-container>

  <nav class="items-center h-full hidden md:flex">

    <app-nav-link [icon]="faMusic" label="Levels" urlPath="/levels"></app-nav-link>
    <app-nav-link [icon]="faCompactDisc" label="Albums" urlPath="/albums"></app-nav-link>
    <app-nav-link [icon]="faUsers" label="Users" urlPath="/users"></app-nav-link>

  </nav>

  <app-nav-button (click)=setMe(!showMe) [icon]="me.getUser() ? faCircleUser : faSignIn"
                  [label]="me.loggedIn() ? me.getUser()?.name! : 'Sign in'"></app-nav-button>
</header>

<div class="sticky top-[60px]">
  <nav (clickOutside)="setHamburgerMenu(false)"
       *ngIf="showHamburgerMenu" @slideFromLeft class="bg-header absolute w-[70vw] px-6
    py-4 flex flex-col text-header-text gap-4 h-navbar-hamburger-menu z-50
    transition-all duration-250">
    <app-nav-link (click)="setHamburgerMenu(false)" [countSubUrls]="false" [icon]="faHouse" label="Home"
                  urlPath="/"></app-nav-link>
    <app-horizontal-divider></app-horizontal-divider>
    <app-nav-link (click)="setHamburgerMenu(false)" [icon]="faMusic" label="Levels" urlPath="/levels"></app-nav-link>
    <app-nav-link (click)="setHamburgerMenu(false)" [icon]="faCompactDisc" label="Albums"
                  urlPath="/albums"></app-nav-link>
    <app-nav-link (click)="setHamburgerMenu(false)" [icon]="faUsers" label="Users" urlPath="/users"></app-nav-link>
  </nav>

  <app-header-me (clickLink)="setMe(false)" (clickOutside)="setMe(false)" *ngIf="showMe" @slideFromTop
                 class="absolute top-0 right-0 left-0 md:left-auto transition-all duration-250 md:w-96 w-full z-50"></app-header-me>
</div>
