<div [ngSwitch]="notFound">
    <app-page *ngSwitchCase="true" header="404">
        <p>News entry with specified ID does not exist.</p>
    </app-page>
    <div *ngSwitchCase="false" [ngSwitch]="entry == null">

        <!-- loading entry -->
        <div *ngSwitchCase="true" class="flex flex-col gap-4 animate-pulse">
            <div class="w-full flex items-center gap-6 lg:flex-row flex-col">
                <div class="rounded-lg bg-secondary aspect-video w-full lg:w-96"></div>
                <div class="flex flex-col w-full gap-2">
                    <!-- metadata -->
                    <div class="h-full flex flex-col gap-2">
                        <div class="w-full lg:w-1/2 bg-secondary h-8 rounded-lg"></div>
                        <div class="w-2/3 lg:w-1/5 bg-secondary h-6 rounded-lg"></div>
                        <div class="w-3/4 lg:w-1/4 bg-secondary h-6 rounded-lg"></div>
                    </div>

                    <div class="flex justify-between lg:items-end w-full h-full flex-col lg:flex-row gap-2">
                        <!-- tags -->
                        <div class="flex gap-1 w-full items-end">
                            <div class="w-1/4 lg:w-1/6 bg-secondary h-10 rounded-lg"></div>
                            <div class="w-1/4 lg:w-1/6 bg-secondary h-10 rounded-lg"></div>
                        </div>
                        <!-- dates -->
                        <div class="flex text-right w-1/5 bg-secondary h-6 rounded-lg">
                        </div>
                    </div>
                </div>
            </div>
            <app-divider></app-divider>

            <div class="m-2">
                <app-border>
                    <div class="flex flex-col gap-1">
                        <div class="w-full bg-secondary h-6 rounded-lg"></div>
                        <div class="w-full bg-secondary h-6 rounded-lg"></div>
                        <div class="w-full bg-secondary h-6 rounded-lg"></div>
                        <div class="w-full bg-secondary h-6 rounded-lg"></div>
                    </div>
                </app-border>
            </div>
        </div>

        <!-- real entry -->
        <div *ngSwitchCase="false" class="flex flex-col gap-4">
            <div class="w-full flex items-center gap-6 lg:flex-row flex-col">
                <img [src]="thumbnailUrl()"
                     alt="News thumbnail" class="rounded-lg bg-secondary aspect-video w-full lg:w-96">
                <div class="flex flex-col w-full gap-1">
                    <div class="flex justify-between h-full w-full">
                        <!-- metadata -->
                        <div>
                            <app-h1>{{entry!.title}}</app-h1>
                            <app-h2 class="text-gentle">by
                                <app-link [user]="entry!.author"></app-link>
                            </app-h2>
                            <p class="text-gentle">{{entry!.summary}}</p>
                        </div>

                        <div class="flex gap-1">
                            <app-button [faIcon]="faEllipsisVertical" label=""></app-button>
                        </div>
                    </div>

                    <div class="flex justify-between lg:items-end w-full flex-col lg:flex-row gap-2">
                        <!-- tags -->
                        <div class="flex gap-1">
                            <app-tag [faIcon]="faFont" [value]="wordCountString()" label="Total words"></app-tag>
                            <app-tag [faIcon]="faClock" [value]="readTimeString()"
                                     label="Estimated reading time"></app-tag>
                        </div>

                        <!-- dates -->
                        <div class="flex flex-col lg:text-right justify-end">
                            <app-date [date]="entry!.creationDate" prefix="written"></app-date>
                            <app-date *ngIf="entry!.creationDate != entry!.modificationDate"
                                      [date]="entry!.modificationDate"
                                      prefix="last modified"></app-date>
                        </div>
                    </div>
                </div>
            </div>
            <app-divider></app-divider>

            <div class="m-2">
                <app-border>
                    <article>{{entry?.fullText}}</article>
                </app-border>
            </div>
        </div>
    </div>
</div>