<app-page header="Account Deletion">
    <div class="flex flex-col gap-2 w-full lg:w-2/3">
        <p>An e-mail has been sent to your e-mail address</p>
        <br>
        <form [formGroup]="form" class="flex flex-col gap-2">
            <label for="deletionCode">Deletion code</label>
            <app-input-field [fGroup]="form" [faIcon]="faHashtag"
                             id="deletionCode" placeholder="AbCd1234"></app-input-field>
        </form>
        <div>
            <p>By clicking 'Delete account', you consent to the permanent deletion of your account, all associated
                data,
                including levels, leaderboard entries, and any other related information, with the understanding
                that your username will be permanently inaccessible and unavailable for future use.</p>
        </div>
        <div class="flex gap-2 items-center">
            <app-tooltip [text]="validNewPasswordForm().message">
                <app-button (click)="delete()" [disabled]="!validNewPasswordForm().valid"
                            [faIcon]="faTrashAlt" [label]="getButtonLabel()"
                            [loading]="deletingAccount" [style]="ElementStyle.dangerous"></app-button>
            </app-tooltip>
        </div>

    </div>
</app-page>