<div class="flex justify-between items-start gap-8 flex-col lg:flex-row h-full">
    <div class="hidden lg:block bg-collage-2 w-2/3 h-128 bg-cover"></div>

    <app-page [ngSwitch]="currentPage" class="w-full" header="Reset Password">
        <!-- page 1 -->
        <div *ngSwitchCase="pageType.emailInput" class="flex flex-col gap-2 w-full lg:w-2/3">
            <form [formGroup]="emailForm" class="flex flex-col gap-2">
                <label for="email">E-mail address</label>
                <app-input-field [fGroup]="emailForm" [faIcon]="faEnvelope"
                                 id="email" placeholder="example@mail.com"></app-input-field>

                <div class="flex gap-2 items-center">
                    <app-tooltip [text]="validEmailForm().message">
                        <app-button (click)="sendEmail()" [disabled]="!validEmailForm().valid"
                                    [faIcon]="faAngleRight" [loading]="loading"
                                    label="Proceed"></app-button>
                    </app-tooltip>
                </div>
            </form>

        </div>

        <!-- page 2 -->
        <div *ngSwitchCase="pageType.newPasswordInput" class="flex flex-col gap-2 w-full lg:w-2/3">
            <p>An e-mail has been sent to {{email}}</p>
            <br>
            <form [formGroup]="newPasswordForm" class="flex flex-col gap-2">
                <label for="passwordCode">Password code</label>
                <app-input-field [fGroup]="newPasswordForm" [faIcon]="faHashtag"
                                 id="passwordCode" placeholder="ABCDEFGH"></app-input-field>

                <label for="password">Enter & confirm new password</label>
                <app-input-field [fGroup]="newPasswordForm" [faIcon]="faKey" [type]="InputType.Password"
                                 id="password" placeholder="Password"></app-input-field>
                <app-input-field [fGroup]="newPasswordForm" [faIcon]="faKey" [type]="InputType.Password"
                                 id="passwordConfirm" placeholder="Password"></app-input-field>

                <div class="flex gap-2 items-center">
                    <app-tooltip [text]="validNewPasswordForm().message">
                        <app-button (click)="setPassword()" [disabled]="!validNewPasswordForm().valid"
                                    [faIcon]="faAngleRight" [loading]="loading"
                                    label="Apply"></app-button>
                    </app-tooltip>
                </div>
            </form>

        </div>
    </app-page>
</div>