<button [ngClass]="{
          'navbar-selected-button' : this.highlighted,
          'animate-pulse' : this.loading
        }"
        class="flex w-full navbar-bg navbar-text gap-2 p-2 hover:bg-[#241f1f] rounded justify-between">
  <div class="flex gap-2">
    <fa-icon [fixedWidth]="true" [icon]="faIcon" [ngClass]="{'!highlighted' : 'navbar-text'}" size="lg"></fa-icon>
    <span class="text-lg">{{label}}</span>
  </div>
  <div *ngIf="loading" class="animate-spin w-min">
    <app-loading></app-loading>
  </div>
</button>
