<!--suppress HtmlUnknownTag -->
<button [ngClass]="{
          'animate-pulse' : this.loading
        }"
        class="flex w-full bg-dark-background text-light gap-2 py-2 px-3 rounded justify-between hover:bg-darker-background duration-100">
    <div class="flex gap-2">
        <fa-icon [fixedWidth]="true" [icon]="faIcon" [ngClass]="{'!highlighted' : 'navbar-text'}" size="lg"></fa-icon>
        <span class="text-lg">{{label}}</span>
    </div>
    <app-loading *ngIf="loading"></app-loading>
</button>
