<button
  [disabled]="loading"
  [ngClass]="{'pointer-events-none': loading,
  'bg-button text-button-text hover:bg-button-hover': color == ColorType.Content,
  'bg-accent-button text-accent-button-text hover:bg-accent-button-hover': color == ColorType.Accent,
  'hover:bg-header-hover': color == ColorType.Header,
  'hover:bg-footer-hover': color == ColorType.Footer}"
  [type]="type" class="px-4 py-2 w-full flex items-center rounded-lg gap-1
transition-all duration-150 hover:drop-shadow">
  @if (!hideIcon) {
    <fa-icon [fixedWidth]=true [icon]="loading ? faSpinner : icon"
             [ngClass]="{'animate-spin': loading}"
             size="lg"></fa-icon>
  }


  {{ text }}
</button>
