<div class="flex justify-between items-start gap-8 flex-col lg:flex-row">
    <div class="hidden lg:block">
        <img alt="A collage of Sound Shapes levels" height="1080" ngSrc="assets/register_banner.png" priority="true"
             rel="preconnect"
             width="960">
    </div>
    <app-page class="w-full" header="Register">
        <div class="flex flex-col gap-2 w-full lg:w-2/3">
            <form (ngSubmit)="register()" [formGroup]="registrationForm" class="flex flex-col gap-2">
                <div class="flex gap-2">
                    <label for="code">Registration code</label>
                    <app-tooltip text="You get this by connecting to the server.">
                        <fa-icon [icon]="faQuestionCircle" style="color: #181515"></fa-icon>
                    </app-tooltip>
                </div>
                <app-input-field [fGroup]="registrationForm" [faIcon]="faHashtag"
                                 id="code" placeholder="12345678"></app-input-field>
                <label for="email">E-mail address</label>
                <app-input-field [fGroup]="registrationForm" [faIcon]="faEnvelope"
                                 id="email" placeholder="example@mail.com"></app-input-field>
                <label for="password">Enter & confirm your password</label>
                <app-input-field [fGroup]="registrationForm" [faIcon]="faKey" [type]="InputType.Password"
                                 id="password"
                                 placeholder="Password"></app-input-field>
                <app-input-field [fGroup]="registrationForm" [faIcon]="faKey" [type]="InputType.Password"
                                 id="passwordConfirm" placeholder="Password"></app-input-field>
            </form>
            <div>
                <p>By clicking “Register” you agree to our
                    <a class="underline" routerLink="/eula" target=”_blank”>Terms & Conditions</a>
                    .</p>
            </div>
            <div class="flex gap-2 items-center">
                <app-tooltip [text]="validForm().message">
                    <app-button (click)="register()" [disabled]="!validForm().valid || loading"
                                [faIcon]="faUserPlus"
                                label="Register"></app-button>
                </app-tooltip>
                <app-loading *ngIf="loading"></app-loading>
            </div>
        </div>
    </app-page>
    <div class="lg:hidden">
        <img alt="A collage of Sound Shapes levels" height="1080" ngSrc="assets/register_banner.png" priority="true"
             rel="preconnect"
             width="960">
    </div>
</div>