<app-generic-page name="Register">
  <div class="flex w-full  gap-2">
    <img alt="A collage of Sound Shapes level thumbnails" class="lg:block hidden rounded-lg" height="540"
         ngSrc="/collage_1.png"
         priority
         width="480">
    <div class="w-full lg:p-4 xl:w-1/3 relative h-[500px]">
      @if (registrationStep == 0) {
        <form (submit)="fetchCode()" @slideToRight [formGroup]="getCodeForm"
              [ngClass]="{'pointer-events-none': loading}"
              class="flex flex-col gap-2 absolute w-full z-0">
          <app-tiny-gap-container>
            <label for="registrationCode">Registration Code</label>
            <app-input [fControl]="getCodeForm.controls.code" [icon]="faHashtag" [type]="InputContentType.Code"
                       id="registrationCode" placeholder="123456"></app-input>
          </app-tiny-gap-container>

          <app-button [icon]="faPlay" [loading]="loading"
                      [type]="ButtonType.Submit" class="lg:w-min"
                      text="Proceed"></app-button>
        </form>
      } @else if (registrationStep == 1) {
        <form (submit)="register()" @slideToRight [formGroup]="registerForm"
              class="flex flex-col gap-2 absolute z-0 w-full">
          <app-tiny-gap-container>
            <label for="username">Username</label>
            <app-input [fControl]="registerForm.controls.username" [icon]="faUser"
                       id="username" placeholder="gamer"></app-input>
          </app-tiny-gap-container>

          <app-tiny-gap-container>
            <label for="email">E-mail</label>
            <app-input [fControl]="registerForm.controls.email" [icon]="faEnvelope" [type]="InputContentType.Email"
                       id="email" placeholder="example@email.com"></app-input>
          </app-tiny-gap-container>

          <app-tiny-gap-container>
            <label for="password">Enter & confirm your password</label>
            <app-input [fControl]="registerForm.controls.password" [icon]="faKey" [type]="InputContentType.Password"
                       id="password" placeholder="Password"></app-input>
          </app-tiny-gap-container>

          <label class="hidden" for="confirmPassword"></label>
          <app-input [fControl]="registerForm.controls.confirmPassword" [icon]="faKey"
                     [type]="InputContentType.Password"
                     id="confirmPassword" placeholder="Password"></app-input>

          <p>By clicking 'Register', you agree to our <a (click)="openEula()" class="underline cursor-pointer">Terms &
            Conditions</a>.</p>

          <app-button [icon]="faUserPlus" [loading]="loading"
                      [type]="ButtonType.Submit" class="lg:w-min"
                      text="Register"></app-button>
        </form>
      } @else if (registrationStep == 2) {
        <form (submit)="verifyEmail()" [formGroup]="verifyEmailForm" class="absolute flex flex-col gap-2" @slideToRight>
          <p>A verification email has been sent to {{ registerForm.value.email }}. Please enter the code from the email
            below.</p>

          <app-tiny-gap-container>
            <label for="code">Verification Code</label>
            <app-input [fControl]="verifyEmailForm.controls.code" [icon]="faHashtag" [type]="InputContentType.Code"
                       class="w-auto" id="code"
                       placeholder="123456"></app-input>
          </app-tiny-gap-container>
          <app-button [icon]="faCheckCircle" [loading]="loading" [type]="ButtonType.Submit" class="w-full md:w-min"
                      text="Verify"></app-button>
        </form>
      } @else if (registrationStep == 3) {
        <div @slideToRight class="absolute">
          <strong class="text-2xl font-normal text-center">Welcome to Eggshapes</strong>

          <span class="flex gap-2"><fa-icon [icon]="faSpinner"
                                            class="animate-spin"></fa-icon><p>Signing in...</p></span>
        </div>
      }
    </div>
  </div>
</app-generic-page>
