<app-border>
    <div class="flex flex-col gap-2">

        <div class="flex flex-col lg:flex-row justify-between gap-2">
            <div class="flex flex-col">
                <div class="flex gap-2 lg:items-center lg:flex-row flex-col">
                <pre
                        [ngClass]="
                        {
                        'bg-api-retrieve' : route.Method == 'GET',
                        'bg-api-push' : route.Method == 'POST' ||  route.Method == 'PUT' ||  route.Method == 'PATCH',
                        'bg-api-remove' : route.Method == 'DELETE'
                        }
"
                        class="rounded-lg px-2 py-1 flex text-light text-xl w-fit">{{route.Method}}</pre>
                    <pre class="text-xl">{{route.RouteUri}}</pre>
                </div>

            </div>

            <!-- permissions-->
            <div>
                <app-tooltip *ngIf="route.AuthenticationRequired" text="Authentication is required">
                    <app-text-with-icon [faIcon]="faKey" text=""></app-text-with-icon>
                </app-tooltip>

                <app-tooltip *ngIf="route.MinimumPermissionsType != null"
                             [text]="minimumPermissionsTooltip()">
                    <app-text-with-icon [faIcon]="faUserShield"
                                        [text]="minimumPermissionsString()"></app-text-with-icon>
                </app-tooltip>
            </div>
        </div>

        <!-- summary -->
        <div>
            <span class="font-bold text-lg">Summary</span>
            <p>{{route.Summary}}</p>
        </div>

        <!-- parameters -->
        <div *ngIf="route.Parameters.length > 0">
            <span class="font-bold text-lg">Parameters</span>
            <div class="flex flex-col gap-2">
                <ng-container *ngFor="let param of route.Parameters;">
                    <div class="flex gap-2 items-start flex-col lg:flex-row">
                        <app-code-block [text]="paramString(param)"></app-code-block>
                        <p>{{param.Summary}}</p>
                    </div>
                </ng-container>
            </div>
        </div>

        <!-- errors -->
        <div *ngIf="route.PotentialErrors.length > 0">
            <span class="font-bold text-lg">Potential Errors</span>
            <div class="flex flex-col gap-2">
                <ng-container *ngFor="let error of route.PotentialErrors;">
                    <div class="flex gap-2 items-start flex-col lg:flex-row">
                        <app-code-block [text]="error.Name"></app-code-block>
                        <p>{{error.OccursWhen}}</p>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</app-border>