<app-page header="News">
    <div class="flex flex-col gap-4">
        <app-list-top (clickFilters)="showFilters = !showFilters" [faIcon]="faNewspaper"
                      [totalItems]="news()?.list?.listInformation?.totalItems"></app-list-top>

        <!-- filters -->
        <app-news-filters (onChange)="changeModifiers($event)" *ngIf="showFilters" [modifiers]="modifiers"
                          class=""></app-news-filters>

        <div
                (scrolled)="fetchLaterNews()"
                [infiniteScrollDistance]="1"
                [scrollWindow]="true"
                class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-4 gap-2 duration-100"
                infiniteScroll
        >
            <app-news-entry *ngFor="let entry of news()?.list?.items" [entry]="entry"></app-news-entry>
        </div>

        <app-loading *ngIf="loading"></app-loading>
    </div>
</app-page>