<app-border [ngSwitch]="level == null" [routerLink]="url()" class="hover:cursor-pointer">

    <!-- placeholder -->
    <div *ngSwitchCase="true" class="flex flex-col gap-3">
        <div class="w-full aspect-video rounded-lg bg-secondary"></div>
        <div class="flex justify-between items-center">
            <div class="basis-1/2 bg-secondary h-4 rounded-lg"></div>
            <div class="basis-1/4 lg:w-1/4 bg-secondary h-4 rounded-lg"></div>
        </div>
        <div class="flex justify-between items-center">
            <!-- stats -->
            <div class="basis-1/4 bg-secondary h-4 rounded-lg"></div>
            <!-- creation -->
            <div class="basis-1/3 bg-secondary h-4 rounded-lg"></div>
        </div>
    </div>

    <div *ngSwitchCase="false" class="flex flex-col gap-3">
        <img [src]="thumbnailUrl()" alt="Level thumbnail"
             class="w-full aspect-video rounded-lg hover:cursor-pointer">
        <div>
            <div class="flex justify-between items-center">
                <a class="truncate">{{level!.name}}</a>
                <a class="text-sm whitespace-nowrap">by
                    <app-link [user]="level!.author"></app-link>
                </a>
            </div>
            <div class="flex justify-between items-center">
                <!-- statistics -->
                <app-level-statistics [level]="level!" class="text-sm text-gentle">
                </app-level-statistics>
                <app-date [date]="level!.creationDate" class="whitespace-nowrap"></app-date>
            </div>
        </div>
    </div>
</app-border>