<div class="border flex flex-col gap-2">
    <div class="flex justify-between items-center">
        <div class="flex items-center gap-2">
            <b>{{ip.IpAddress}}</b>
            <fa-icon *ngIf="ip.OneTimeUse" [icon]="faStopwatch"></fa-icon>
        </div>
        <app-date [unix]="ip.ModificationDate"></app-date>
    </div>

    <!-- actions -->
    <div class="flex gap-1">
        <app-generic-button (click)="authorize(false)" *ngIf="!ip.Authorized || ip.OneTimeUse" [faIcon]="faCheckCircle"
                            label="Always Allow"></app-generic-button>
        <app-generic-button (click)="authorize(true)" *ngIf="!ip.Authorized" [faIcon]="faStopwatch"
                            label="Allow Once"></app-generic-button>
        <app-generic-button (click)="remove()" [faIcon]="faTrashAlt" label="Remove"></app-generic-button>
    </div>
</div>